body {
  margin: 0;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #15202b;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.link:focus,
.darkHoverEffect:hover {
  background-color: #616161 !important;
}

.lightHoverEffectRow:hover {
  background-color: #e4e4e4 !important;
}
